/* 顶部 */
#header {
    display: flex;
    width: 100%;
    height: 0.5rem;
    background: #3190e8;
  }
  #header span {
    display: inline-block;
    color: white;
    line-height: 0.5rem;
  }
  .back {
    font-size: 0.2rem;
    width: 25%;
    text-align: left;
    padding-left: 0.1rem;
    box-sizing: border-box;
  }
  .address {
    width: 50%;
    font-size: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  .mime {
    text-align: right;
    padding-right: 0.1rem;
    box-sizing: border-box;
    width: 25%;
    font-size: 0.2rem;
  }
  /* 轮播图部分 */
  .swiper-container {
    width: 100%;
    height: 2rem;
    background-color: #fff;
  }
  .swiper-slide {
      width:100%;
      height:100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      text-align: center;
  }
  .swiper-slide li{
      /* border:1px solid red; */
     width:25%;
     height:50%;
  }
  .swiper-slide li img{
    width: 50%;
    height: 50%;
    margin: 0.1rem;
  }
  .swiper-slide li p{
      text-align: center;
      font-size: 0.12rem;
  }
   /* 附近商家 */
   #listShops {
    background-color: #fff;
    width: 100%;
    margin-top: 0.1rem;
    padding-top: 0.05rem;
    margin-bottom: 0.5rem;
  }
  #listShops p {
    font-size: 0.15rem;
    color: #666666;
    margin-bottom: 0.05rem;
  }
  #listShops p span {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
  #singleLi {
    box-sizing: border-box;
    width: 100%;
    height: 1.2rem;
    border: 1px solid #eaeaea;
    padding: 0.2rem 0.1rem;
    font-size: 0.12rem;
    color: #666666;
  }
  #singleLi img {
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
    width: 20%;
    height: 0.7rem;
  }
  #singleLi div {
    position: relative;
    box-sizing: border-box;
    width: 78%;
    height: 0.85rem;
    display: inline-block;
  }
  #singleLi .brand {
    background-color: #ffd930;
    padding: 0.02rem;
    color: black;
    border-radius: 0.01rem;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
  }
  #singleLi .title {
    display: inline-block;
    color: black;
    width: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.16rem;
    font-weight: 600;
    position: absolute;
    left: 0.4rem;
    top: 0;
  }
  /* #singleLi .el-rate__item{
      margin: 0;
      font-size: 0.12rem;
  } */
  #singleLi .star {
    display: inline-block;
    width: 1.9rem;
    height: 0.2rem;
    position: absolute;
    left: -0.35rem;
    top: 0.3rem;
    transform: scale(0.6,0.6);
  }
  #singleLi .num {
    display: inline-block;
    height: 0.2rem;
    line-height: 0.2rem;
    position: absolute;
    left: 0.9rem;
    top: 0.3rem;
  }
  #singleLi .sendMsg {
    display: inline-block;
    height: 0.2rem;
    line-height: 0.2rem;
    position: absolute;
    left: 0rem;
    top: 0.6rem;
  }
  #singleLi .bzp {
    text-align: right;
    display: inline-block;
    height: 0.2rem;
    line-height: 0.2rem;
    position: absolute;
    right: 0rem;
    top: 0rem;
  }
  #singleLi .onTime {
    text-align: right;
    display: inline-block;
    height: 0.2rem;
    line-height: 0.2rem;
    position: absolute;
    right: 0rem;
    top: 0.3rem;
  }
  #singleLi .onTime > span:nth-of-type(1) {
    color: white;
    background-color: #57a9ff;
    box-sizing: border-box;
    padding: 0.01rem;
    border-radius: 0.02rem;
  }
  #singleLi .onTime > span:nth-of-type(2) {
    color: #3190e8;
    background-color: white;
    box-sizing: border-box;
    padding: 0.01rem;
    border-radius: 0.02rem;
  }
  #singleLi .km {
    text-align: right;
    display: inline-block;
    height: 0.2rem;
    line-height: 0.2rem;
    position: absolute;
    right: 0rem;
    top: 0.3rem;
  }